*
!.gitignore
!*.go
!shell.nix
!main
!goroutines/
!rest/
!server/
!func/
!plot/
!src/
!lib/
!scrape/
!writecsv/
!transpose/
!readcsv/
!readcsv/*.csv
!text/
!.shellhook
!text
!parallel/
!tree/
!concurrency/
!atomics/
!runes/
